<mjml>
  <mj-body background-color="#fafbfc">
    <mj-section padding-bottom="20px" padding-top="20px">
      <mj-column vertical-align="middle" width="100%">
        <mj-image width="100px" src="<%= baseUrl %>/p/logo/color-round.svg"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
      <mj-column vertical-align="middle" width="100%">
        <mj-text align="center" font-size="21px">Hello <%= user.username %>,</mj-text>
        <mj-text align="center" font-size="16px" line-height="1.4">
          you have recently registered an account on <a href="<%= baseUrl %>"><%= baseUrl %></a>. Please verify your
          Email address by clicking on the button below.</mj-text
        >
        <mj-button
          align="center"
          font-size="18px"
          background-color="#727cf5"
          border-radius="10px"
          color="#fff"
          href="<%= baseUrl %>/p/verifyAccount?token=<%= token %>"
          >Verify Account</mj-button
        >
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
